{% extends "base.html" %}
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>出库申请</h1>
        </blockquote>

        <div class="layui-row">

            <div class="layui-col-md5">
                <form action="/addStockout/" method="post" enctype="multipart/form-data"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="tName" id="tName" placeholder="货号" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="tAge" id="tAge" placeholder="描述" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="tAge" id="tAge" placeholder="数量" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="tAge" id="tAge" placeholder="日期" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="date" name="outstocktime" id="tImage"/>
                    <hr class="layui-bg-green">

                    <input type="file" name="tImage" id="tImage"/>
                    <hr class="layui-bg-green">
                    <input type="submit" value="添加" class="layui-btn"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}